@import "tailwindcss";

/* 
  Global base reseteo y clases de utilidad en Tailwind 
  El 100% de las clases personalizadas fueron removidas siguiendo
  metodología Utility-First de Tailwind CSS.
*/

:root {
  /* Tailwind v4 hereda fuentes automáticamente por variables.
     Definimos las variables base de Google Fonts */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Playfair Display', Georgia, serif;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #1e293b;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base de tipografía corporativa */
h1, h2, h3, h4, .font-serif {
  font-family: var(--font-serif);
}
